@model Entity.POCO.Film

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puan" class="control-label"></label>
                <input asp-for="Puan" class="form-control" />
                <span asp-validation-for="Puan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YapimYili" class="control-label"></label>
                <input asp-for="YapimYili" class="form-control" />
                <span asp-validation-for="YapimYili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenId" class="control-label"></label>
                <input asp-for="YonetmenId" class="form-control" />
                <span asp-validation-for="YonetmenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmDetayId" class="control-label"></label>
                <input asp-for="FilmDetayId" class="form-control" />
                <span asp-validation-for="FilmDetayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Delete" /> @Html.DisplayNameFor(model => model.Delete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

