
@{
    ViewData["Title"] = "Blog";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!doctype html>


        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="/img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Blog Ekranım</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">

                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->
        <!-- blog-area -->
        <section class="blog-area blog-bg" data-background="/img/bg/blog_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-post-item">
                            <div class="blog-post-thumb">
                                <a href="blog-details.html"><img src="/img/blog/blog_thumb01.jpg" alt=""></a>
                            </div>
                            <div class="blog-post-content">
                                <span class="date"><i class="far fa-clock"></i> 10 Mar 2022</span>
                                <h2 class="title"><a href="blog-details.html">Film Tavsiyeleri</a></h2>
                                <p>
                                    Bu yılın hayatımıza ne denli gariplikler getirdiği gözle görülebilir bir gerçek olmuş durumda.
                                    Korona virüsünden depremlere kadar bizleri büyüten ve değiştiren olaylar her birimizin evlerine sığınması gerektiğinin hepimiz farkındayız.
                                    2022 yılında üzüntülerimizi, sıkıntılarımızı ve boş zamanlarımızı yeni çıkan film önerileri 2022 listemiz ile rahatlıkla atlatabilirsiniz.
                                    Yeni çıkan film önerileri listemiz, Imdb’den sağlam puanlar almış olan filmlerden sizler için derledim.
                                    Yeni yabancı filmler arayışında olanlara yol gösterecek.
                                    Farklı tarzda ve kaliteli oyuncuların bulunduğu filmleri bulamayanlar için ise öneri bölümü olacak bir derleme oldu sizler için.
                                    Şimdiden iyi seyirler, Netflix film önerileri hakkında düşüncelerinizi lütfen yorumlarda benimle paylaşın.
                                </p>
                                <div class="blog-post-meta">
                                    <ul>
                                    </ul>
                                    <div class="read-more">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4">
                        <aside class="blog-sidebar">
                            
                           
                            <div class="widget blog-widget">
                                <div class="widget-title mb-30">
                                    <h5 class="title">Neizlenir</h5>
                                </div>
                                
                            </div>
                        </aside>
                    </div>
                </div>
            </div>

        </section>
    


